{{ form_start(form) }}

<div class="flex gap-6">
    <div class="flex-1">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'px-6 py-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="flex-1">
        {{ form_label(form.slug, 'Slug', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.slug, {'attr': {'class': 'px-6 py-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
        {{ form_errors(form.slug) }}
    </div>
</div>

<div class="mt-6">
    <button type="submit"
        class="inline-flex items-center rounded-md bg-indigo-600 px-6 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Save
    </button>
</div>

{{ form_end(form) }}
