{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Total</th>
                <th>PaymentIntentId</th>
                <th>Reference</th>
                <th>ShippingLine1</th>
                <th>ShippingLine2</th>
                <th>ShippingCity</th>
                <th>ShippingCountry</th>
                <th>ShippingZipCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.paymentIntentId }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.shippingLine1 }}</td>
                <td>{{ order.shippingLine2 }}</td>
                <td>{{ order.shippingCity }}</td>
                <td>{{ order.shippingCountry }}</td>
                <td>{{ order.shippingZipCode }}</td>
                <td>
                    <a href="{{ path('app_frontend_order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_frontend_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_frontend_order_new') }}">Create new</a>
{% endblock %}
